.formContainer {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fetchCollectionBtn {
    padding: 10px;
}

.nftCollectionContainer {
    display: flex;
    padding-left: 25px;
}

.nftCollectionHeading {
    padding-left: 25px;
    padding-top: 25px;
}